body {background-color:#F0F8FF;color:#6495ED;font-family:Courier New;padding-left:40px;padding-right:40px;}

h1 {background-color:#E0FFFF;color:#1E90FF;height:50px;font-family:Verdana;}

.wa4 { color:#00BFFF;font-family:Brush Script MT;font-size:30px;}

ul {list-style-type:square;}